.test {
  color: red;
}

@calendar-width: 700;

body {
  width: 100%;
  text-align: center;
}

.Container {
  margin-left: auto;
  margin-right:  auto;
  text-align:  left;
  width: (@calendar-width + 50)*1px;
}

.Calendar {
  &_Day {
    display: inline-block;
    text-align: center;
    width: ((@calendar-width - 50) / 7)*1px;
    height: 35px;
    padding-top: 7px;
    margin: 5px;

    &.empty{
      background-color: #eeeeee;
    }

    &.attention {
      background-color: rgba(232, 93, 67, 0.38);
    }

    &.completed {
      background-color: rgba(96, 232, 57, 0.38);
    }

    &.partially {
      background-color: rgba(223, 232, 82, 0.38);
    }

    &.current{
      border: 1px black solid;
    }

    .label{
      float: right;
    }
  }
}

.CalendarNavigator {
  & {
    width: @calendar-width px;
    //margin-left: 50px;
    //margin-right: 50px;
  }
  &_Head{
      width: 100%;
      margin-bottom: 10px;
      text-align: center;

      span {
        font-size: 120%;
      }

      &_Left {
        margin-right: 30px;
      }

      &_Right {
        margin-left: 50px;
      }
  }
}

.CurrentDay{
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  h4{
    text-align: center;
  }

  .PlanEditField input {
    width: 100%;
  }
}

.PlanActions{
  &.Right{
    float: right;
    margin-right: 5px;
  }

  &.Left{
    float: left;
  }

  &::after{
    clear: both;
  }
  margin-top: -6px;
}

.UserForm {
  margin-left: 15px;
  margin-right: 5px;

  h3 {
    margin-bottom: 30px;
  }

  .form-control  {
    width: 50%;
  }
}

.LogOutButton{
  margin-right: 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
}
